.wat-banner {
    width: 801px;
    /* border: 2px solid red; */
    margin-top: -80px;
}

#container {
    padding-top: 35px;
}

.box-head {
    width: 371px;
    height: 58px;
    background: white;
    /* align-items: center; */
}

.content {
    font-size: 36px;
    text-align: center;
    line-height: 60px;
}

.top-button {
    display: flex;
    justify-content: flex-end;
}

.box-p-content {
    margin-top: 30px;
}

.box-content-p {
    margin-top: 30px;
    background: white;
    padding: 20px 0px 20px 0px;
}

img.box-content-image {
    margin-top: 30px;
    width: 801px !important;
}

.box-image-content {
    display: flex;
    /* width: 801px !important; */
    gap: 30px;
    margin-top: 30px;
}
img.box-content-image-1 {
    width: 385px !important;
}

.box-image-content-1 {
    display: flex;
    margin-top: 30px;
    gap: 30px;
}

a.top-a-color {
    color: black;
}